body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #333;
  padding: 20px 30vw;
  font-size: 1em;
}

#container {
  
}

h3 {
  margin-bottom: 0;
}

p {
  display: inline-block;
}

br {
  margin-bottom: 2px;
}

form {
  display: inline-block;
  margin-left: 5px;
}

#about {
  margin-top: 0;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}

a, a:hover {
  color: white;
}
