body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

#wrapper {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#testDiv {
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  position: absolute;
  z-index: 10;
  background-color: #333;
  color: white;
}

#testTitle {
  width: 200px;
  word-wrap: break-word;
  margin-bottom: 2px;
}

#testStatus {
  margin-top: 2px;
}

#testP {
  display: inline-block;
  width: 110px;
}

#testForm {
  display: inline-block;
  margin-left: 10px;
}

#testInput {
  width: 70px;
}

#cancelButton {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  background-color: #306FDF;
  color: white;
}

#cancelButton:hover {
  background-color: #205FCF;
}

#header {
  padding: 10px 25px;
  background-color: #333;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
}

input:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#timerInput {
  width: 90px;
  height: 25px;
  padding-left: 5px;
}

#toggleButton {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.on {
  background-color: #306FDF;
}
.on:hover {
  background-color: #205FCF;
}

.off {
  background-color: #999;
}

.off:hover {
  background-color: #777;
}

#body1 {
  padding: 10px 22px;
}

#messageP {
  width: 200px;
  color: #ff463d;
}

#addInput {
  width: 194px;
  height: 20px;
  padding-left: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; 
}

#body2 {
  padding: 10px 25px;
}

.siteDiv {
  display: inline-block;
  border: 1px solid #ccc;
  height: 20px;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 5px;
}

.site {
  display: inline-block;
  height: 20px;
  margin: 0px 10px;
}

.delete {
  border: none;
  background: #ff463d;
  width: 20px;
  height: 20px;
  border-radius: 0px 8px 8px 0px;
  color: white;
  font-size: 10px;
}

.delete:hover {
  background: #cc1e16;
}

#footer {
  padding: 2px 25px;
  background-color: #333;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: space-between;
}

#footer p {
  display: inline;
  color: white;
  margin: 5px;
  font-size: 10px;
}

#footer a {
  color: inherit;
}

/*https://css-tricks.com/snippets/css/shake-css-keyframe-animation/*/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

.apply-shake {
    animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
}
